.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div > *:first-child {
  margin-top: 0;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.small {
  max-width: 1000px;
  margin: 75px auto 60px;
}

.columns.small p {
  margin-bottom: 0;
  font-size: var(--text-font-size-s);
  line-height: var(--text-line-height-s);
}

.columns.small p:last-of-type {
  margin-top: 0;
}

/* This is the flexbox div */
.columns.small > div {
  justify-content: space-between;
}

/* These are the columns */
.columns.small > div > div {
  max-width: 235px;
}

.hero-content img {
  max-width: 740px;
}

.hero-content > div > .columns-img-col img {
  display: block;
}

.columns.small > div > div img {
  max-width: 180px;
}

.hero-content {
  max-width: 1480px;
}

.hero-content ul {
  padding-left: 24px;
}

.hero-content ul > li {
  list-style-type: '✓  ';
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
