/* header and nav layout */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-white);
  visibility: visible;
  box-sizing: content-box;
  overflow-x: clip;
}

header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template: 'brand tools' var(--nav-height);
  align-items: center;
  gap: 0 2em;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

@media (min-width: 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
}

header nav a:any-link:hover {
  text-decoration: none;
}

/* brand */
header nav .nav-brand {
  grid-area: brand;
  letter-spacing: 0;
  font-size: var(--text-font-size-m);
  line-height: 1;
  font-weight: 700;
  color: var(--color-adobe-brand);
}

header nav .nav-brand a:any-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}
