/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --color-white: #FFF;
  --color-grey-100: #F8F8F8;
  --color-grey-200: #E8E8E8;
  --color-grey-300: #D4D4D4;
  --color-grey-400: #B6B6B6;
  --color-grey-500: #909090;
  --color-grey-600: #686868;
  --color-grey-700: #444;
  --color-grey-800: #242424;
  --color-black: #000;
  --dark-spectrum-blue: #0463d6;
  --spectrum-blue: #1473e6;

  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --link-color-dark: #1473E6;
  --link-hover-color-dark: #0d66d0;
  --background-color: var(--color-white);
  --background-color-lightgrey: var(--color-grey-100);
  --background-color-grey: var(--color-grey-200);
  --text-color: #2c2c2c;
  --border-color: var(--color-grey-200);

  --color-accent: var(--link-color-dark);
  --color-accent-hover: var(--link-hover-color-dark);

  /* fonts */
  --body-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --text-font-size-m: 18px;
  --text-line-height-m: 27px;
  --text-font-size-s: 16px;
  --text-line-height-s: 1.5;
  --text-font-size-xs: 14px;
  --text-line-height-xs: 21px;
  --text-font-size-xxs: 12px;
  --text-line-height-xxs: 1.5;

  /* heading sizes */
  --heading-font-size-xxl: 36px;
  --heading-line-height-xxl: 1;
  --heading-font-size-xl: 28px;
  --heading-line-height-xl: 35px;
  --heading-font-size-l: 24px;
  --heading-line-height-l: 30px;
  --heading-font-size-m: 20px;
  --heading-line-height-m: 25px;
  --heading-font-size-s: 18px;
  --heading-line-height-s: 22px;
  --heading-font-size-xs: 16px;
  --heading-line-height-xs: 20px;

  /* Spacing (Consonant) */
  --spacing-xxxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-m: 32px;
  --spacing-ml: 40px;
  --spacing-l: 48px;
  --spacing-xl: 56px;
  --spacing-xxl: 80px;
  --spacing-xxxl: 104px;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--text-font-size-m);
  line-height: var(--text-line-height-m);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  font-weight: normal;
}

body.appear {
  display: unset;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: 1em;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: var(--heading-line-height-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: var(--heading-line-height-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: var(--heading-line-height-l);
}

h4 {
  font-size: var(--heading-font-size-m);
  line-height: var(--heading-line-height-m);
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: var(--heading-line-height-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
  line-height: var(--heading-line-height-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--border-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--text-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--background-color-lightgrey);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 16px;
  padding: 5px 14px;
  text-align: center;
  font-size: 15px;
  line-height: 16px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

button:disabled,
button:disabled:hover {
  background-color: var(--background-color-lightgrey);
}

a.button.primary,
button.primary {
  background: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
}

.hero a.button.primary,
.hero button.primary {
  border-radius: 25px;
  font-size: 19px;
  line-height: 24px;
  min-height: 28px;
  padding: 10px 24px 8px;
}

.hero a.button.primary:hover,
.hero button.primary:hover,
.hero a.button.primary:active,
.hero button.primary:active {
  background: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
  color: var(--color-white);
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

/* section styles */
main .section {
  padding: 34px 16px;
}

/*  sections */
main .section.aside.neutral {
  text-align: center;
}

main .section.aside.neutral {
  background-color: var(--color-grey-200);
}

main .section.aside.subtle {
  background-image: url('/img/background-gradient.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* breakpoints */

@media (min-width: 600px) {
  main .section {
    padding: 34px 32px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 32px;
    --heading-line-height-xl: 33px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }

  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}
